.backBtn {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.chat {
    height: 660px;
}
.messagesBlock {
    height: 560px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.sendField {
    height: 100px;
}
.message {
    height: 80px;
}
.imgDiv {
    width: 80px!important;
}